body {
  background: darksalmon;
}
.cont {
  display: flex;
}
.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  position: relative;
  height: 150px;
  width: 150px;
  margin: 25px 25px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.empty {
  display: block;
  min-height: 200px;
  width: 200px;
  margin: 10px;
  border: solid 3px salmon;
  background: white;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}
