@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.btn {
    position: relative;
    display: inline-flex;
    background: #313131;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn span {
    position: relative;
    z-index: 1;
    padding: 13px 38px;
    backdrop-filter: blur(4px);
}

.btn::before {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: rgb(235, 19, 91);
    transition: width 0.3s, height 0.3s;
}

.btn:hover::before {
    width: 200px;
    height: 200px;
}