@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,300;1,400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(0deg, rgb(159, 240, 67), rgb(17, 108, 212));
    background-attachment: fixed;
}

.card-container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px 0;
    float: right;
}

.card-container .card {
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card-container .card .imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in-out;
}

.card-container .card:hover .imgBx {
    height: 150px;
    width: 150px;
    left: -75px;
    top: calc(50% - 75px);
}

.card-container .card .imgBx img {
    max-width: 100px;
    filter: invert(1);
    transition: 0.5s ease-in-out;
}

.card-container .card:hover .imgBx img {
    max-width: 75px;
}

.card-container .card .content {
    position: absolute;
    right: 0;
    width: calc(100% - 80px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container .card .content h3 {
    color: red;
    margin-bottom: 5px;
    font-size: 24px;
}

.card-container .card .content p {
    color: rgb(133, 133, 133);
    margin-bottom: 5px;
    font-size: 14px;
}

.card-container .card .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #0095ff;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

@media (max-width: 1000px) {
    .card-container {
        position: relative;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .card-container .card {
        width: 300px;
        height: auto;
        flex-direction: column;
        background: transparent;
        margin: -20px;
        box-shadow: none;
    }
    .card-container .card .imgBx {
        position: relative;
    }
    .card-container .card .imgBx,
    .card-container .card:hover .imgBx {
        width: 80%;
        height: 150px;
        top: 100px;
        left: 10%;
    }
    .card-container .card:hover .imgBx {
        animation-name: bounce;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    .card-container .card .imgBx img,
    .card-container .card:hover .imgBx img {
        max-width: 100px;
    }
    .card-container .card .content {
        position: relative;
        width: 100%;
        background: #fff;
        box-shadow: none;
        border-radius: 20px;
        padding: 20px 20px 40px;
        border-top: 100px solid #fff;
    }
}

@keyframes bounce {
    0% {
        top: 100px;
    }
    50% {
        top: 80px;
    }
    100% {
        top: 100px;
    }
}