* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background: linear-gradient(to bottom, white 10%, #9c20e4 10%, #bf4bdc);
    color: #dad2d2;
    font-family: "Staatliches", cursive;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}

.footer p {
    width: 80%;
    margin: auto;
}

.footer-icon a {
    text-decoration: none;
    color: rgb(54, 34, 53);
    padding: 7px;
    padding-bottom: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 3px;
    margin-right: 3px;
}

.footer-icon a:hover {
    color: gray;
}

.footer {
    text-align: center;
}

.ref-link a {
    text-decoration: none;
    color: #373a38;
}

.ref-link a:hover {
    color: yellow;
}

.branding {
    cursor: pointer;
}

.branding:hover {
    color: #e08119;
}